<div class="menu">
                        <h3><i class="q-menu-img positionIicon"></i><span class="glyphicon glyphicon-home" style="color: rgb(0, 0, 0); font-size: 16px;"></span>&nbsp;&nbsp;设备总览</h3>
                        <ul class="ulmenu1">
                                <li><a class="selected" href="#">状态统计</a></li>
                                <li><a href="#">设备列表</a></li>
                                <li><a href="#">维护记录</a></li>
                        </ul>

                        <h3><i class="q-menu-doit positionIicon"></i><span class="glyphicon glyphicon-th-list" style="color: rgb(0, 0, 0); font-size: 16px;"></span>&nbsp;&nbsp;机房管理</h3>
                        <ul class="ulmenu2">
                                <li><a href="#" class="selected">机房列表</a></li>
                                <li><a href="#">合作厂商</a></li>
                                <li><a href="#">报障记录</a></li>
                                <li><a href="#">机架状态</a></li>
                        </ul>
			 <h3><i class="q-menu-doit positionIicon"></i><span class="glyphicon glyphicon-wrench" style="color: rgb(0, 0, 0); font-size: 16px;"></span>&nbsp;&nbsp;配置管理</h3>
                        <ul class="ulmenu3">
                                <li><a class="selected" href="#">批量命令</a></li>
                                <li><a href="#">请求列表</a></li>
                                <li><a href="#">任务状态</a></li>
                                <li><a href="#">一键切流</a></li>
                        </ul>

                        <h3><i class="q-menu-doit positionIicon"></i><span class="glyphicon glyphicon-flag" style="color: rgb(0, 0, 0); font-size: 16px;"></span>&nbsp;&nbsp;业务统计</h3>
                        <ul class="ulmenu4">
                                <li><a class="selected" href="/test1">网站分析</a></li>
                                <li><a href="/test2">用户分析</a></li>
                                <li><a href="/test3">卡顿统计</a></li>
                        </ul>
			<h3><i class="q-menu-doit positionIicon"></i><span class="glyphicon glyphicon-euro" style="color: rgb(0, 0, 0); font-size: 16px;"></span>&nbsp;&nbsp;资产统计</h3>
                        <ul class="ulmenu5">
                                <li><a href="#" class="selected">资产列表</a></li>
                                <li><a href="#">费用明细</a></li>
                        </ul>
			<h3><i class="q-menu-doit positionIicon"></i><span class="glyphicon glyphicon-asterisk" style="color: rgb(0, 0, 0); font-size: 16px;"></span>&nbsp;&nbsp;团队管理</h3>
                        <ul class="ulmenu5">
                                <li><a href="#" class="selected">用户管理</a></li>
                                <li><a href="#">权限设置</a></li>
                        </ul>
</div>
